[submodule "bebop_client"]
    path = bebop_client
    url = ../bebop_client.git
[submodule "bebop_server"]
    path = bebop_server
    url = ../bebop_server.git
[submodule "bebop_teleop"]
    path = bebop_teleop
    url = ../bebop_teleop.git
[submodule "ros2_bebop_driver"]
    path = ros2_bebop_driver
    url = ../ros2_bebop_driver.git
[submodule "ros2_parrot_arsdk"]
	path = ros2_parrot_arsdk
	url = ../ros2_parrot_arsdk.git
[submodule "vrpn_mocap"]
    path = vrpn_mocap
    url = ../vrpn_mocap.git
[submodule "ncr_lab_viz"]
	path = ncr_lab_viz
	url = ../ncr_lab_viz.git
[submodule "bebop_control"]
	path = bebop_control
	url = ../bebop_control.git