[submodule "bebop_teleop"]
    path = bebop_teleop
    url = ../bebop_teleop.git
[submodule "ros2_bebop_driver"]
    path = ros2_bebop_driver
    url = ../ros2_bebop_driver.git
[submodule "ros2_parrot_arsdk"]
	path = ros2_parrot_arsdk
	url = ../ros2_parrot_arsdk.git
[submodule "vrpn_mocap"]
    path = vrpn_mocap
    url = ../vrpn_mocap.git
[submodule "ncr_lab_viz"]
	path = ncr_lab_viz
	url = ../ncr_lab_viz.git
[submodule "bebop_control"]
	path = bebop_control
	url = ../bebop_control.git
[submodule "rho_filter"]
	path = rho_filter
	url = ../rho_filter.git
